/* listTasks/main.css */
/* ================================================================================================================= */

ul {

      margin: 0;
     padding: 0;

  background: white;
}

/* ================================================================================================================= */
