/* privateTask/main.css */
/* ================================================================================================================= */

li.isPrivate {

    border-color: #ddd;

      background: #eee;
}

/* ----------------------------------------------------------------------------------------------------------------- */

button.private {

     margin-left: 5px;
}

/* ================================================================================================================= */
