/* main.css */
/* ================================================================================================================= */

form.new-task {

       margin-top:  10px;
    margin-bottom: -10px;
         position: relative;
}

/* ----------------------------------------------------------------------------------------------------------------- */

form.new-task input {

       box-sizing: border-box;

           border: none;
          padding: 10px 0;
            width: 100%;
    padding-right: 80px;

        font-size: 1em;

       background: transparent;
}

/* ----------------------------------------------------------------------------------------------------------------- */

form.new-task input:focus {

          outline: 0;
}

/* ================================================================================================================= */
